@mixin light-box-shadow {
  box-shadow: $grid-xs $grid-1 $grid-1 $neutral-200;
}

@mixin light-box-shadow-hover {
  box-shadow: $grid-sm $grid-1 $grid-2 $neutral-300;
}

@mixin btn-box-shadow {
  box-shadow: $grid-xs $grid-sm $grid-1 $neutral-300;
}

@mixin btn-box-shadow-hover {
  box-shadow: $grid-sm $grid-1 $grid-2 $neutral-500;
}
