/* ==========
   MENU PAGES
   ========== */

.p-menu__header {
  display: flex;
  @include large-wrapper;
}

.p-menu__img {
  background: white;

  img {
    width: 100%;
    min-height: 6rem;
    max-height: 16rem;

    object-fit: cover;
  }
}

.p-menu__content {
  position: relative;
  top: -$grid-6;

  border-radius: $grid-6 $grid-6 0 0;

  background: $neutral-100;

  h1 {
    display: flex;
    justify-content: space-between;

    font-family: $logo-font;
    letter-spacing: 0.1rem;
  }

  h1,
  h2,
  h2::after {
    margin-left: $grid-sm;
  }

  h2 {
    color: $neutral-700;
    font-weight: 400;
    text-transform: uppercase;
  }

  h2 {
    font-size: $h6-size;
  }

  h2::after {
    display: block;

    width: $grid-6;
    height: $grid-sm;
    margin: $grid-1 0;
    border: 0;

    content: "";

    background: $tertiary-300;
  }

  section {
    margin-top: $grid-4;
  }

  .c-btn--cta {
    width: max-content;
    margin: $grid-4 auto 0 auto;
  }

  .c-heart-icon-box .far.fa-heart {
    background: $neutral-100;
  }
}

@media (min-width: $small-container-width) {
  .p-menu__img img {
    height: 16 * $grid-2;
  }
}

@media (max-width: $small-breakpoint - 1) {
  .p-menu__content .p-menu__content-wrapper {
    @include small-wrapper;
  }
}
