/* =============
   PAGE HTTP 404
   ============= */

.p-main-404 {
  border-radius: $grid-6 $grid-6 0 0;
  overflow: hidden;

  text-align: center;
}

.p-http-code {
  width: max-content;
  padding: 30vh $grid-8 35vh $grid-8;

  color: white;
  font-size: 8rem;
  font-weight: 700;
  -webkit-text-fill-color: transparent;

  background: linear-gradient(
    -10deg,
    $primary-500 0%,
    $primary-500 40%,
    $secondary-500 60%,
    $secondary-500 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

.p-http-text {

  h1,
  p {
    padding: $grid-2 0;
  }

  h1 {
    margin: 30vh auto 0 auto;
    padding-top: $grid-4;
  }

  p {
    margin: 0 auto 3vh auto;

    font-size: $h5-size;
  }
}

@media (max-width: $medium-breakpoint - 1) {
  .p-main-404 {
    border-radius: 0;
  }
}

@media (max-width: $small-breakpoint - 1) {
  .p-http-code {
    padding: 5vh $grid-8;

    font-size: 6rem;
  }

  .p-http-text {
    background: white;

    h1 {
      margin: 0 auto;
    }
  }
}
