.p-restaurant__img img {
  width: 100%;
}

.p-restaurant__menu {
  position: relative;
  top: -$grid-6;

  border-radius: $grid-6 $grid-6 0 0;

  background: $neutral-100;

  h1 {
    display: flex;
    justify-content: space-between;

    font-family: $logo-font;
  }

  h1,
  h2,
  h2::after {
    margin-left: $grid-sm;
  }

  h2 {
    color: $neutral-700;
    font-weight: 400;
  }

  h2,
  h3 {
    font-size: $h6-size;
  }

  h2::after {
    display: block;

    width: $grid-6;
    height: $grid-sm;
    margin: $grid-1 0;
    border: 0;

    content: "";

    background: $tertiary-300;
  }

  section {
    margin-top: $grid-4;
  }

  .c-heart-icon-box .far.fa-heart {
    background: $neutral-100;
  }
}
