footer {
  padding: $grid-3 $grid-3 $grid-4 $grid-3;

  color: white;

  background: $neutral-800;

  .l-footer__content {
    @include width-wrapper;
  }

  .c-logo__img {
    height: $h4-size;
    margin: $grid-1 0 $grid-3 0;
  }

  li {
    position: relative;

    a {
      color: white;
      font-weight: 400;
    }

    a:hover {
      color: $neutral-200;
    }

    .iconed-link {
      position: absolute;
      left: $grid-4;
    }
  }
}

@media (max-width: $small-breakpoint - 1) {
  footer > * {
    max-width: $small-container-width;
    margin-right: auto;
    margin-left: auto;
  }
}
