footer {
  padding: $grid-3 $grid-3 $grid-4 $grid-3;

  color: white;

  background: $neutral-800;

  .l-footer__content {
    @include large-wrapper;
  }

  .c-logo__img {
    height: $h4-size;
    margin: $grid-1 0 $grid-3 0;
  }

  li {
    position: relative;

    .iconed-link__text {
      position: absolute;
      left: $grid-4;

      transition: left 150ms;
    }

    a {
      color: white;
      font-weight: 400;

      @include border-left-transition;

      &:focus,
      &:hover {
        padding-left: $grid-1;
        border-left: $grid-sm solid $neutral-300;
        outline: none;

        color: $neutral-300;

        .iconed-link__text {
          left: $grid-5;
        }
      }
    }
  }
}

@media (max-width: $small-breakpoint - 1) {
  footer > * {
    max-width: $small-container-width;
    margin-right: auto;
    margin-left: auto;
  }
}
