/* ==============
   LAYOUT: HEADER
   ============== */

header {
  position: relative;

  .l-box-location {
    box-shadow: inset 0 $grid-xs $grid-xs $neutral-300;
  }

  a {
    position: absolute;
    top: -$grid-xs;

    i {
      position: relative;
      top: -$grid-1;
      left: -$grid-1;

      padding: $grid-1;
      border-radius: 50%;

      transition: color 300ms, background-color 300ms;
    }

    &:focus {
      outline: none;
    }

    &:focus i,
    &:hover i {
      color: white;

      background: $neutral-500;
    }
  }
}
