.c-btn {
  padding: $grid-2 $grid-4;
  border: 0;
  border-radius: $grid-4;
  @include btn-box-shadow;

  font-size: $h5-size;
  font-weight: 500;

  cursor: pointer;

  // call-to-action buttons:
  &--cta {
    color: white;

    background: $brand-gradient;

    transition: box-shadow 300ms, opacity 300ms;
  }

  &--cta:hover {
    @include btn-box-shadow-hover;

    color: white;

    opacity: 0.87;
  }
}
