.c-step-list {
  padding-left: 0;

  font-size: $h5-size;
  font-weight: 500;

  list-style: none;

  li {
    position: relative;

    margin: $grid-2 0 $grid-2 $grid-2;
    padding: $grid-3 $grid-4 $grid-3 $grid-3;
    border-radius: $grid-3;
    box-shadow: $grid-xs $grid-xs $grid-sm $neutral-300;

    background: lighten($neutral-100, 5);
  }

  &__number {
    display: inline-block;
    position: absolute;
    top: 1.25 * $grid-2;
    left: -$grid-2;

    width: 1.8 * $grid-2;
    height: 1.8 * $grid-2;
    padding: $grid-sm;
    border-radius: 50%;

    color: white;
    text-align: center;

    background: $primary-500;
  }

  i {
    margin: 0 $grid-2 0 $grid-1;

    color: $neutral-500;
    font-size: $h4-size;
  }
}
