.c-step-list {
  padding-left: 0;

  font-size: $h5-size;
  font-weight: 500;

  list-style: none;

  li {
    display: flex;
    position: relative;

    margin: $grid-2 0 $grid-2 $grid-2;
    padding: $grid-3 $grid-4 $grid-3 $grid-3;
    border-radius: $grid-3;
    @include light-box-shadow;

    background: $neutral-100;

    span,
    i {
      display: inline-block;
    }
  }

  &__number {
    display: inline-block;
    position: absolute;
    top: 1.25 * $grid-2;
    left: -$grid-2;

    width: 1.8 * $grid-2;
    height: 1.8 * $grid-2;
    padding: $grid-sm;
    border-radius: 50%;

    color: white;
    text-align: center;

    background: $primary-500;
  }

  i {
    margin: 0 $grid-2 0 $grid-1;

    color: $neutral-500;
    font-size: $h4-size;
  }
}

@for $i from 1 through 4 {
  label[for="starter-#{$i}"],
  label[for="main-course-#{$i}"],
  label[for="dessert-#{$i}"] {
    animation: fade-in-item 500ms ease-out 200ms * ($i - 1) forwards;
  }
}

@keyframes fade-in-item {
  0% {
    opacity: 0;
    transform: translateY($grid-1);
  }
  25% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.c-item-list {
  $checkbox-transition-duration: 350ms;

  label {
    display: flex;

    border-radius: $grid-1;
    @include light-box-shadow;
    overflow: hidden;

    background: white;
    opacity: 0;
  }

  &__description {
    display: block;

    width: 100%;
    padding-left: $grid-1;
    overflow: hidden;
  }

  &__title,
  &__details {
    display: block;

    overflow: hidden;

    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__title {
    padding: $grid-2 $grid-sm $grid-sm $grid-sm;

    font-size: $h6-size;
    font-weight: 500;
  }

  &__details {
    padding: 0 $grid-sm $grid-1 $grid-sm;
  }

  &__price {
    display: block;

    padding-top: 2.75 * $grid-2;
    margin: 0 $grid-2;

    color: $neutral-700;
    font-weight: 700;
  }

  &__check {
    display: block;

    width: 0;
    border-radius: 0 $grid-1 $grid-1 0;
    overflow: hidden;

    background: $tertiary-300;

    transition: width $checkbox-transition-duration;

    .fa-check-circle {
      margin: $grid-3 $grid-2;
      border-radius: 50%;

      color: white;
      font-size: $h1-size;

      background: $tertiary-300;
      transform: rotate(-180deg);

      transition: transform $checkbox-transition-duration;
    }
  }

  label:hover {
    .c-item-list__check {
      width: 6 * $grid-2;
    }

    .fa-check-circle {
      transform: rotate(360deg);
    }
  }
}
