$colors: (
  "white": white,
  "neutral-100": $neutral-100,
  "neutral-200": $neutral-200,
  "neutral-300": $neutral-300,
  "neutral-500": $neutral-500,
  "neutral-700": $neutral-700,
  "neutral-800": $neutral-800,
  "neutral-900": $neutral-900,
);

/* =================
   BACKGROUND COLORS
   ================= */

@each $color, $hex in $colors {
  .bg-#{$color} {
    background-color: #{$hex};
  }
}

/* ===========
   TEXT COLORS
   =========== */

@each $color, $hex in $colors {
  .txt-#{$color} {
    color: #{$hex};
  }
}
